<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Registro</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <header>
        <h1>POKEMON</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>

            </ul>
        </nav>
    </header>

    <main>
        
        <section class="panel">

                <h1>Consultar pokemon</h1>
    <form id="registroForm" class="formularioRegistro">
        <label for="nombre">Nombre de pokemon o numero:</label>
        <input type="text" id="nombre" name="nombre" required>
        <button type="submit">Consultar</button>
    </form>

        </section>

        <!-- Panel 2: Tabla para mostrar datos -->
        <section class="panel">
            <h2>Pokemones consultados</h2>
            <table id="tablaRegistros">
                <thead>
                    <tr>
                        <th>No. pokedex</th>
                        <th>Nombre</th>
                        <th>Habilidad</th>
                        <th>estadistica base</th>
                       
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>

            

        </section>

        <section id="lastPokemon" class="panel">
            <h1>Ultimo pokemon que consultaste: </h1>
        </section>

    </main>

    <footer>
        <p>&copy; Mini Proyecto Consumo de API Web.</p>
    </footer>

    <!-- Incluir el archivo JavaScript externo -->
    <script src="registro.js"></script>
</body>
</html>
